{% extends "menu.html.twig" %}

{% form_theme formType 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/assets/css/menu.css') }}">
{% endblock %}

{% block body %}

	<h1>Creation d'un Type</h1>

	{{ form_start(formType) }}

	{{ form_row(formType.titre, {'attr':{'placeholder': "le nom"}}) }}

	<button type="submit" class="btn btn-success">

		Ajouter le type

	</button>

	{{ form_end(formType) }}

{% endblock %}
