{% extends "menu.html.twig" %}

{% form_theme formCategorie 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/assets/css/base.css') }}">
{% endblock %}

{% block body %}

	<h1>Creation d'une Categorie</h1>

	{{ form_start(formCategorie) }}

	{{ form_row(formCategorie.titre, {'attr':{'placeholder': "le nom"}}) }}

	<button type="submit" class="btn btn-success">

		Ajouter la categorie

	</button>

	{{ form_end(formCategorie) }}

{% endblock %}
