{% extends 'menu.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/home.css">
{% endblock %}



{% block body  %}
 
     <!-- all other page content -->
        <div class="row">
            <div class="bg-text col-md-4 alert alert-secondary">

                    Project: Symfony,PHP web application framework <br>
                    Cours: Technologies avancées du web <br>
                    Professor: Pierre POMPIDOR <br>
                    By: <b>Hassina</b> BOUFATIS and <b>Amir</b> SHIRALI POUR <br>
            </div>
        </div>
        

        <div class="row img">
            <div class="bg-text column">
                {# <h1 style="font-size:50px">I am Hassina BOUFATIS</h1>
                <h2>And I'm a Symfony designer</h2> #}
                <img class="bg-image" src="{{ asset('/assets/image/hassina-buissiness-card.jpg') }}" style="width:100%">
            </div>

            <div class="bg-text column">
                {# <h1 style="font-size:50px">I am Amir SHIRALI POUR</h1>
                <h2>And I'm a Symfony designer</h2> #}
                <img class="bg-image" src="{{ asset('/assets/image/Amir-buissiness-card.jpg') }}" style="width:100%">
            </div>
  









{% endblock body  %}