<mat-toolbar color="primary" *ngIf="posts">My advertisements: {{ posts.length }}</mat-toolbar>
<p class="button">            <button routerLink="/addAds" class="btn">Add a new Annonce</button></p>

<div style="margin:auto; width: 70%; margin-top: 30px;">
  <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
</div>
<h2 style="text-align:center">My Advertisements</h2>


<div *ngFor="let post of posts" class="group">
  <div id="content">
    <img class="image img" src="{{post.image}}" alt="product image">
  </div>
  <p><strong>Name : </strong> {{ post.name  }} </p>
  <p><strong>price: </strong> {{ post.price }} </p>
  <p><strong>description: </strong></p>
  <ul *ngFor="let description of post.description">
    <li class="desc">{{description}}</li>
  </ul>
  <!-- <div class="form-group">
    <strong>Date range: </strong>
    <label for="dateRange"></label>
    <input type='text' name="dateRange" bsDaterangepicker [bsConfig]="datePickerConfig" placement ="right" [(ngModel)]="dateRange" class="form-control col-md-6" />
  </div>


  <pre *ngIf="dateRange"
    class="code-preview">You'll lend this article for {{ lendDays(dateRange[0],dateRange[1])}} days!
    <input type="text" name="days" id="" value={{ Annonces.lendDays(dateRange[0],dateRange[1])}} >

  </pre> -->




  <div style="overflow: hidden;">
    <p class="button">            <button routerLink="/editAds/{{post['_id']}}" class="btn">Update</button></p>
    <p class="button">            <button (click)="getAnnonceItemById(post['_id'])" class="btn">Details</button></p>
    <p class="button text-danger"><button (click)="removeAnnonce(post['_id'])" class="btn">Remove</button></p>
  </div>
</div>

