<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
   <head>
    <link rel="stylesheet" th:href="@{/css/monument.css}"/>	
</head>
   <body>
      <div layout:fragment="content">
         <p th:text="${template}">Should not be displayed</p>
         <table class="table table-hover table-bordered">
            <thead>
                <tr class="info">
                  <th class="col col-lg-2">ID</th>
                  <th class="col-md-auto">Nom</th>
                  <th class="col col-lg-2">Latitude</th>
                  <th class="col col-lg-2">Longitude</th>
                  <th class="col col-lg-2">Proprietaire</th>
                  <th class="col col-lg-2">Type</th>
                  <th class="col col-lg-2">Lieu</th>
               </tr>
            </thead>
            <tbody>
               <th:block th:each="monument : ${monuments}">
                  <tr>
                     <td th:text="${monument.codeM}">code_m</td>
                     <td th:text="${monument.nomM}">nom_m</td>
                     <td th:text="${#numbers.formatDecimal(monument.latitude, 0, 4)}">Latitude</td>
                     <td th:text="${#numbers.formatDecimal(monument.longitude, 0, 4)}">Longitude</td>                     
                     <td th:text="${monument.proprietaire}">proprietaire</td>
                     <td th:text="${monument.typeMonument}">type_monument</td>
                     <td th:text="${monument.lieu.codeInsee}">code_lieu</td>
                  </tr>
               </th:block>
            <tbody>
         </table>
      <div th:replace="template :: pagination"></div>
         
      </div>
      <div th:replace="template :: footer"></div>
   </body>
</html>