<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
   <head>
    <link rel="stylesheet" th:href="@{/css/monument.css}"/>	
</head>
   <body>
    <div layout:fragment="content">
        <p th:text="${template}">Should not be displayed</p>






                       





<div id="wrapper">
                       <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Display</a>

       <!-- Sidebar -->
       <div id="sidebar-wrapper" class="bg-primary">
           <ul class="sidebar-nav">
               <li class="sidebar-brand">
                   <a href="#">
                       Display Monuments
                   </a>
               </li>
               <li><a class="dropdown-item amir" th:href="@{/monuments/page/1}">Table format</a></li>
               <li><a class="dropdown-item amir" th:href="@{/monuments/card/page/1}">Card format</a></li>
               <li><a class="dropdown-item amir" th:href="@{/json/monuments/page/1}">JSON Pagination</a></li>
               <li><a class="dropdown-item amir" th:href="@{/json/monuments}">JSON whiout Pagination</a></li>
           </ul>
       </div>
       <!-- /#sidebar-wrapper -->

       <!-- Page Content -->
       
       
       
       
       
       <div id="page-content-wrapper">
           <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-12">





      <div layout:fragment="displayContent">
         <p th:text="${template}">Should not be displayed</p>
         <table class="table table-hover table-bordered">
            <thead>
                <tr class="info">
                  <th class="col"><a th:href="@{'/monuments/page/' + ${currentPage} + '?sortField=codeM' + '&sortDirection=' + ${reverseSortDirection}}">No.</a></th>
                  <th class="col-md-auto"><a th:href="@{'/monuments/page/' + ${currentPage} + '?sortField=codeM' + '&sortDirection=' + ${reverseSortDirection}}">Nom</a></th>
                  <th class="col"><a th:href="@{'/monuments/page/' + ${currentPage} + '?sortField=codeM' + '&sortDirection=' + ${reverseSortDirection}}">Latitude</a></th>
                  <th class="col"><a th:href="@{'/monuments/page/' + ${currentPage} + '?sortField=codeM' + '&sortDirection=' + ${reverseSortDirection}}">Longitude</a></th>
                  <th class="col"><a th:href="@{'/monuments/page/' + ${currentPage} + '?sortField=codeM' + '&sortDirection=' + ${reverseSortDirection}}">Proprietaire</a></th>
                  <th class="col-md-auto"><a th:href="@{'/monuments/page/' + ${currentPage} + '?sortField=codeM' + '&sortDirection=' + ${reverseSortDirection}}">Type</a></th>
                  <th class="col"><a th:href="@{'/monuments/page/' + ${currentPage} + '?sortField=codeM' + '&sortDirection=' + ${reverseSortDirection}}">Lieu</a></th>
                  <th class="col-sm-2 text-center" colspan="3">Actions</th>
               </tr>
            </thead>
            <tbody>
               <th:block th:each="monument : ${monuments}">
                  <tr>
                     <td th:text="${monument.codeM}">code_m</td>
                     <td th:text="${monument.nomM}">nom_m</td>
                     <td th:text="${#numbers.formatDecimal(monument.latitude, 0, 4)}">Latitude</td>
                     <td th:text="${#numbers.formatDecimal(monument.longitude, 0, 4)}">Longitude</td>                     
                     <td th:text="${monument.proprietaire}">proprietaire</td>
                     <td th:text="${monument.typeMonument}">type_monument</td>
                     <td th:text="${monument.lieu?.codeInsee}">code_lieu</td>
                   	 <td th:replace="fragments/template :: remove-update-details-td(entity='monuments', id=${monument.codeM})"></td>
                  </tr>
               </th:block>
            <tbody>
         </table>
      <div th:replace="fragments/template :: pagination"></div>
         
      </div>
    </div>
</div>
</div>
<!-- /#page-content-wrapper -->

</div>  <!-- /#wrapper -->






</div>
</div>






      <div th:replace="fragments/template :: footer"></div>
   </body>
</html>