<footer id="footer" class="footer">
  <div class="footer__background footer__backgroundLeft"></div>
  <div class="footer__background footer__backgroundRight"></div>
  <div class="container ">
      <div class="pd">
                  </div>
      <div class="footer__wrapper">
          <div class="footer__logoWrapper">
              <img class="footer__logo" src="https://static.allovoisins.com/images/allovoisins_logo_footer.svg" alt="AlloVoisins" width="279" height="95">
          </div>
          <div class="footer__socialWrapper flex flex-vertical-center">
              <span class="footer__socialTitle">Retrouvez-nous :</span>
              <span class="footer__socialItem footer__socialItem--facebook">
                  <a href="https://www.facebook.com/allovoisins/" title="AlloVoisins sur Facebook"
                     target="_blank" rel="noopener">
                      <i class="iconav iconav-facebook-fill"></i>
                  </a>
              </span>
              <span class="footer__socialItem footer__socialItem--twitter">
                  <a href="https://twitter.com/allovoisins/" title="AlloVoisins sur Twitter" target="_blank"
                     rel="noopener">
                      <i class="iconav iconav-twitter-fill"></i>
                  </a>
              </span>
              <span class="footer__socialItem footer__socialItem--youtube">
                  <a href="https://www.youtube.com/channel/UCTGrVxb2CwRwphRiTQmT3ow"
                     title="AlloVoisins sur YouTube" target="_blank" rel="noopener">
                      <i class="iconav iconav-youtube-fill"></i>
                  </a>
              </span>
              <span class="footer__socialItem footer__socialItem--instagram">
                  <a href="https://www.instagram.com/chezallovoisins/" title="AlloVoisins sur Instagram"
                     target="_blank" rel="noopener">
                      <i class="iconav iconav-instagram"></i>
                  </a>
              </span>
          </div>
          <div class="footer__linksWrapper">
              <div class="footer__linksListWrapper col-1-4">
                  <span class="footer__linksListTitle">
                      Questions fréquentes / Aide
                  </span>
                  <ul class="footer_linksList">

                      <li class="footer_linksItem" data-ga-categ="autres" data-ga-question="covid-continuite-de-service">
                          <a class="footer_linksLink link"
                             data-link="https://support.allovoisins.com/hc/fr/articles/360017333939"
                             target="_blank"
                             rel="noindex nofollow noopener">
                              Covid-19 : continuité de service AlloVoisins
                          </a>
                      </li>

                      <li class="footer_linksItem"  data-ga-categ="premiers-pas" data-ga-question="connecter-a-mon-compte">
                          <a class="footer_linksLink link"
                             data-link="https://support.allovoisins.com/hc/fr/articles/360000742134-Je-n-arrive-pas-à-me-connecter-à-mon-compte"
                             target="_blank"
                             rel="noindex nofollow noopener">
                              Je n'arrive pas à me connecter à mon compte
                          </a>
                      </li>

                      <li class="footer_linksItem"  data-ga-categ="premiers-pas" data-ga-question="comment-inscrire-depuis-web">
                          <a class="footer_linksLink link"
                             data-link="https://support.allovoisins.com/hc/fr/articles/360000730613-Comment-m-inscrire-depuis-le-site-web-"
                             target="_blank"
                             rel="noindex nofollow noopener">
                              Je n'arrive pas à m'inscrire depuis le site web
                          </a>
                      </li>

                      <li class="footer_linksItem"  data-ga-categ="premiers-pas" data-ga-question="comment-modifier-mdp">
                          <a class="footer_linksLink link"
                             data-link="https://support.allovoisins.com/hc/fr/articles/360011109580-Comment-réinitialiser-modifier-mon-mot-de-passe-"
                             target="_blank"
                             rel="noindex nofollow noopener">
                              Comment réinitialiser / modifier mon mot de passe
                          </a>
                      </li>
                      <li class="footer_linksItem"  data-ga-categ="premiers-pas" data-ga-question="mdp-perdu">
                          <a class="footer_linksLink link"
                             data-link="https://support.allovoisins.com/hc/fr/articles/360016910980"
                             target="_blank"
                             rel="noindex nofollow noopener">
                              Je ne retrouve plus mon mot de passe
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="footer__linksListWrapper col-1-4">
                  <span class="footer__linksListTitle">Présentation</span>
                  <ul class="footer_linksList">
                      <li id="footer-link-who-are-we" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/page/nos-valeurs"
                             rel="noindex nofollow">
                              Qui sommes-nous ?
                          </a>
                      </li>
                      <li id="footer-link-how-it-works" class="footer_linksItem" data-ga-categ="premiers-pas" data-ga-question="comment-ca-marche" >
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/comment-ca-marche"
                             rel="noindex nofollow">
                              Comment ça marche ?
                          </a>
                      </li>
                      <li id="footer-link-white-book" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://pages.allovoisins.com/le-futur-de-l-economie-collaborative-edouard-dumortier/"
                             rel="nofollow" target="_blank">
                              Livre « Le futur de l'économie collaborative »
                          </a>
                      </li>
                      <li id="footer-link-av-in-france" class="footer_linksItem">
                          <a class="footer_linksLink" href="https://www.allovoisins.com/askings/list_cities"
                             rel="noindex nofollow">
                              AlloVoisins en France
                          </a>
                      </li>
                      <li id="footer-link-press" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/page/espace-presse"
                             rel="noindex nofollow">
                              Espace presse
                          </a>
                      </li>
                      <li id="footer-link-alloshop" class="footer_linksItem" style="display:none;">
                          <a class="footer_linksLink link" data-link="https://shop.spreadshirt.fr/alloshop/all" target="_blank"
                             rel="noindex nofollow">
                              AlloShop
                          </a>
                      </li>
                      <li id="footer-link-avantage" class="footer_linksItem" style="display:none;">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/avantages"
                             rel="noindex nofollow">
                              Mes avantages
                          </a>
                      </li>
                      <li id="footer-link-help" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/partenaires"
                             rel="noindex nofollow">
                              Partenaires et Grands Comptes
                          </a>
                      </li>
                      <li id="footer-link-recruitment" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/page/recrutement"
                             rel="noindex nofollow">
                              Recrutement
                          </a>
                      </li>

                  </ul>
              </div>
              <div class="footer__linksListWrapper col-1-4">
                  <span class="footer__linksListTitle">Informations légales</span>
                  <ul class="footer_linksList">
                      <li id="footer-link-cgvu" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/page/conditions-generales-de-vente-et-d-utilisation"
                             rel="noindex nofollow">
                              Conditions Générales de Vente et d'Utilisation
                          </a>
                      </li>
                      <li id="footer-link-confidentiality" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/page/charte-confidentialite"
                             rel="noindex nofollow">
                              Politique de confidentialité et de respect de la vie privée
                          </a>
                      </li>
                      <li id="footer-link-referencement" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/page/referencement"
                             rel="noindex nofollow">
                              Référencement, classement des annonces et contrôle des avis
                          </a>
                      </li>
                      <li id="footer-link-legal" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/page/mentions-legales"
                             rel="noindex nofollow">
                              Mentions légales
                          </a>
                      </li>
                      <li id="footer-link-insurance" class="footer_linksItem">
                          <a class="footer_linksLink link" data-link="https://www.allovoisins.com/page/assurance"
                             rel="noindex nofollow">
                              Assurances
                          </a>
                      </li>
                      <li id="footer-link-object-rental" class="footer_linksItem">
                          <a class="footer_linksLink" href="https://www.allovoisins.com/askings/list_objects">
                              Location d'objets entre particuliers
                          </a>
                      </li>
                      <li id="footer-link-service-rental" class="footer_linksItem">
                          <a class="footer_linksLink" href="https://www.allovoisins.com/askings/list_services">
                              Services entre particuliers
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="footer__linksListWrapper col-1-4">
                  <span class="footer__linksListTitle">Nos applications</span>
                  <ul class="footer_linksList">
                      <li id="footer-link-android" class="footer_linksItem">
                          <a class="footer_linksLink footer_linksLink--app googlePlay_tracked_ga" href="https://app.appsflyer.com/ziapps.ilokyou?pid=AlloVoisins&c=WebSiteFooter"
                             target="_blank" rel="noopener">
                              <img class="footer__linksApp" alt="Disponible sur Google Play" src="https://static.allovoisins.com/images/android_playstore.png">
                          </a>
                      </li>
                      <li id="footer-link-ios" class="footer_linksItem">
                          <a class="footer_linksLink footer_linksLink--app appStore_tracked_ga" href="https://app.appsflyer.com/id631402465?pid=Allovoisins&c=WebSiteFooter"
                             target="_blank" rel="noopener">
                              <img class="footer__linksApp" alt="Disponible sur l'App Store" src="https://static.allovoisins.com/images/ios_appstore.png">
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <span class="num-version">
      Version 9.10.1
  </span>
</footer>



