<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
<head>
    <link rel="stylesheet" th:href="@{/css/monument.css}"/>	
</head>
   <body>
      <div layout:fragment="content">
         <p th:text="${template}">Should not be displayed</p>




 <div th:text="@{'CodeInsee: ' + ${newDepartement?.lieu?.codeInsee}}"></div>
 <p th:if="${lieu instanceof T(com.masterips.javaeeproject.entities.Lieu)}" th:text="'lieu recognized'"> </p>
 <p th:unless="${lieu instanceof T(com.masterips.javaeeproject.entities.Lieu)}" th:text="'lieu NOT recognized'"> </p>



<h1> New Departement</h1>
<form action="#" th:action="@{'/departements'}" th:object="${newDepartement}" method="post">
    <ul th:if="${#fields.hasErrors('*')}">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}" th:class="error">Input is incorrect</li>
    </ul>
 

   <div class="card-group">
           <div class="col-md-12 ">	                
               <div class="card" style="max-width: 60rem;" th:classappend="${border} ? ${border} : 'border-success'">
                  <div class="font-weight-bold" >
                              <img class="photo-departement card-img-top" th:src="@{'/image/departement.png'}" alt="Card image cap" style="width:100%; padding:15px;"/>
                              <table aria-rowspan="2">
                                  <tr>
                                      <th class="card-text text-info font-weight-bold">Name:</th>
                                      <td>
                                       <input type="text" th:field="*{nomDep}" id="nomDep" style="width:400px;"/>
                                       <span th:if="${#fields.hasErrors('nomDep')}" th:errors="*{nomDep}" th:errorclass="error"></span>
                                      </td>
                                  </tr>
                                  <tr>
                                      <th>
                                          <span class="card-text" th:classappend="${text} ? ${text} : 'text-info'">Number: </span>
                                       </th>
                                      <td>
                                           <input type="text" th:field="*{numDep}" id="numDep" onchange="url(this.value)" style="width:400px;"/>

                                      </td>
                                  </tr>
                                  <tr class="card-body text-success">
                                      <th>
                                           <h5 class="card-title" th:classappend="${text} ? ${text} : 'text-primary'" style="width:90px;">Chef Lieu:</h5>
                                      </th>
                                      <td>
                                       <input type="text" th:field="*{lieu}" th:value="${lieu}" id="chefLieu" style="width:400px;"/>

                                       
                                      </td>
                                  </tr>
                                  <tr>
                                      <th>
                                           <p class="card-text" th:classappend="${text} ? ${text} : 'text-danger'" disabled>URL: </p>
                                      </th>
                                      <td>
                                           <input type="text" th:value="@{'http://localhost:8080/json/departements/' + ${newDepartement?.numDep}}" id="url" disabled style="width:400px;"/>
                                      </td> 
                                  </tr>
                                  <tr>
                                      <th>
                                           <span class="card-text">Parent URL: </span>
                                      </th>
                                   <td>
                                           <input type="text" th:value="@{'http://localhost:8080/json/departements/page/1'}"  id="parent_url" disabled  style="width:400px;" />
                                      </td> 
                                  </tr>
                              
                              </table>
                           
                           
                       

							<div class="btn-toolbar">
					            <button class="btn btn-primary" type="submit">Submit</button>
					            <button class="btn btn-danger" type="reset">Reset</button>
					   		</div>                  
                  
                  

                </div>            
            </div>            
   </div>
</div>
</form>







         
      </div>
      <div th:replace="fragments/template :: footer"></div>
      
            
      
      
   </body>
</html>
