<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>All Departements</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>


    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
    </style>
  

</head>

<body>






<main role="main" class="container">

    <div class="starter-template">
        <h1>Departements</h1>
    </div>

    <ol>
        <li th:each="task : ${tasks}" th:text="${task}"></li>
    </ol>


    <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">num_dep</th>
            <th scope="col">nom_dep</th>
            <th scope="col">chef_lieu</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            </tr>
        </tbody>
    </table>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>