<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head th:replace="template :: header">
	  <!-- Custom styles for this template -->
      <link rel="stylesheet" th:href="@{/css/monument.css}"/>	
   </head>
    <body>
        <!-- begin template -->
      <th:block th:replace="template :: navbar"></th:block>

		<div class="container">
	        <div id="map-canvas" class="col-sm-4"></div>
	        <div class="col-sm-8" id="main">
	                <div layout:fragment="content" class="noborder"></div>
	        </div>
        </div>
        <!-- end template -->
        
      <th:block th:replace="template :: footer"></th:block>

      <th:block th:replace="template :: scripts"></th:block>
    </body>
</html>
