<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head th:replace="fragments/template :: header">
    <!-- Begin of head in navbar -->
	  <!-- Custom styles for this template (in navbar) -->
        <link rel="stylesheet" th:href="@{/css/datatables.css}"/>	
        <link rel="stylesheet" th:href="@{/css/monument.css}"/>	
        

        <!-- End of head in navbar -->
   </head>
    <body>
        <th:block th:replace="fragments/template :: navbar"></th:block>
        <!-- begin template -->

		<div class="container">
	        <div id="map-canvas" class="col-sm-4"></div>
	        <div class="col-sm-8" id="main">
	                <div layout:fragment="content" class="noborder">




                        
                    </div>
	        </div>
        </div>

        <!-- end template -->
      <th:block th:replace="fragments/template :: footer"></th:block>

      <script th:replace="fragments/template :: scripts"></script>
    </body>
</html>
