<!-- <form (submit)="onLoginSubmit()">
  <div class="row justify-content-center">
  <div class="col-md-8 col-md-offset-4 align-center">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Login</legend>
      <div class="form-group onerow col-xl-6">
      <label for="">Email | Username</label>
      <input type="text" class="form-control" [(ngModel)]="email" name="email">
    </div>
    <div class="form-group onerow col-xl-6">
      <label for="">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password">
    </div>
    <input type="submit" class="btn btn-primary" value="Login">
  </fieldset>
</div>
</div>
</form> -->



<section id="cover" class="min-vh-100">
  <div id="cover-caption">
      <div class="container">
          <div class="row text-white">
              <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                  <h1 class="display-4 py-2 text-truncate">Login</h1>
                  <div class="px-2">
                      <form (submit)="onLoginSubmit()" class="justify-content-center">
                          <div class="form-group">
                            <label class="sr-only">Email | Username</label>
                            <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Amir SHIRALI POUR">
                          </div>
                          <div class="form-group">
                              <label class="sr-only">Email</label>
                              <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="hassina@boufatis.com">
                          </div>
                          <input type="submit" class="btn btn-primary" value="Login">
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

