/* You can add global styles to this file, and also import other style files */

@import 'deeppurple-amber.css';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

@import 'bootstrap.css';


.img {
  border-radius: 8px;
}

.image{
width: 120px;
height: 160px;
}
.name{

  text-align: center;
  font-size: 25px;
  text-shadow: 10px 10px 60px rgb(75, 4, 4);
  line-height: 2em;

}
.desc{
  color: rgb(73, 70, 70);
  font-size: 15px
}
.bouton:hover{
  cursor: pointer;
  background: #ffc107;
  ;
}
.bouton{
  border: none;
  outline: none;
  height: 30px;
  background: #4e4d4d;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
  margin-bottom: 20px;

  margin-left: 10%;

  position: center;
}

.custom-success
    {
      position: fixed!important;           /* Stay in place */
      z-index: 1;                          /* Sit on top */
      left: 2%;
      bottom: 3%;
      overflow: auto;                      /* Enable scroll if needed */
      background-color: rgb(0,0,0);      /* Fallback color */
      background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
      color: #ffffff;
    }

.container{
  padding-top: 60px;
}
fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.onerow {
  display: inline-block;
}


#cover {
  background:white url('https://unsplash.it/1920/1080/?random') center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
  z-index: -1;
  border-radius: 10px;
}
