  <mat-toolbar color="primary">{{order['product']['name']}}</mat-toolbar>

<div class="group">
  <div id="content">
    <img class="image img" src="{{'http://localhost:8888'+order['product']['image']}}" alt="product image">
  </div>
  <p class="userId"><b>User ID: </b>{{order['userId']}}</p>
  <p class="oid"><b>Order ID: </b>{{order['_id']}}</p>
  <p class="pid"><b>Pruduct ID:</b>{{order['product']['_id']}}</p>
  <p class="price"><b>Price: </b>{{order['product']['price']}}</p>
  <p><b>Category: </b>{{order['product']['category']}}</p>
  <p><b>Type: </b>{{order['product']['type']}}</p>
  <p><b>Description: </b></p>
  <ul *ngFor="let description of order['product']['description']">
    <li class="desc">{{description}}</li>
  </ul>
  <div style="overflow: hidden;">
    <p class="button left"><button (click)="removeCartItems(order['_id'])" class="btn">Remove</button></p>
    <p class="button right"><button (click)="backClicked()" class="btn">Back</button></p>
  </div>
</div>
