<mat-toolbar color="primary">Orders</mat-toolbar>
<div class="group" *ngFor="let order of orders">
  <p><b>Order ID: </b>{{order._id}}</p>
  <p id="name"><b>Name: </b>{{order.product.name}}</p>
  <p id="price"><b>Price: </b>{{order.product.price}}</p>
  <div style="overflow: hidden;">
    <p class="button left"><button (click)="removeCartItems(order._id)" class="btn">Remove</button></p>
    <p class="button right"><button (click)="getCartItemById(order._id)" class="btn">Details</button></p>
  </div>
</div>
