<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
  <a class="navbar-brand" href="#"><img src="assets/image/logo.svg" alt="" srcset="" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <!-- If not logged in shows bellow menu items -->
    <ul class="nav ml-auto" *ngIf="!authService.loggedIn()">
      <li id="annonces" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/annonces']" aria-disabled="true">Toutes les demandes</a><br>
      </li>

      <li id="myannonces" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/myannonces']" aria-disabled="true">Proposer mes services</a><br>
      </li>

      <li id="lends" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" *ngIf="user" [routerLink]="['/profile']" aria-disabled="true">{{ user['email']}}</a>
      </li>

    <li id="signup" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" [routerLink]="['/register']" aria-disabled="true">Inscription</a>
    </li>

    <li id="signin"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" [routerLink]="['/login']" aria-disabled="true">Connexion</a>
    </li>



    </ul>
    <ul class="nav justify-content-center" *ngIf="authService.loggedIn()">

      <!-- If logged in shows bellow menu items -->

      <li id="menubar-all-searches" class="menubar__navItem menubar__navItem ">
        <a [routerLink]="['/']" class="text-center pd text-decoration-none">
            <span class="iconav iconav-home menubar__icon blue"></span><br>
            <span class="menubar__navLink blue">Accueil</span>
        </a>
      </li>

    <li id="menubar-all-searches" class="menubar__navItem menubar__navItem ">
      <a [routerLink]="['/']" class="text-center pd text-decoration-none">
        <span class="iconav iconav-search menubar__icon "></span><br>
        <span class="menubar__navLink ">Voisins</span>
      </a>
    </li>
    <li id="menubar-all-searches" class="menubar__navItem menubar__navItem ">
      <a [routerLink]="['/annonces']" class="text-center pd text-decoration-none">
        <span class="iconav iconav-plus-circle menubar__icon green"></span><br>
        <span class="menubar__navLink green">Demander</span>
      </a>
    </li>
    <li id="menubar-all-searches" class="menubar__navItem menubar__navItem ">
      <a [routerLink]="['/lends']" class="text-center pd text-decoration-none">
        <span class="iconav iconav-tag menubar__icon "></span><br>
        <span class="menubar__navLink ">Sélections</span>
      </a>
    </li>


    <li class="menubar__navItem menubar__navItem  nav-item dropdown">
      <a class="nav-link dropdown-toggle text-center pd text-decoration-none" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="menubar__navLink ">
          <img class="rounded-circle" src="https://static.allovoisins.com/assets/default_avatars/48/Avatar4.png" alt="" /><br>
          <span class="hide-mobile">Mon compte</span>
          <span class="hide-desktop">Compte</span>
        </span>

      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
         <li id="profile">
             <a class="dropdown-item amir nav-link" aria-disabled="true"
                href="/profile">
                Mon profil
             </a>
         </li>
         <li id="dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="dropdown-item amir nav-link" [routerLink]="['/dashboard']" aria-disabled="true">Dashboard</a>
         </li>

         <li id="users" *ngIf="user" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="dropdown-item amir nav-link"  *ngIf="user['role'] == 'admin'" [routerLink]="['/users']" aria-disabled="true">Utilisateurs</a>
         </li>


          <li id="mesannonces" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="dropdown-item amir nav-link" [routerLink]="['/mesannonces']" aria-disabled="true">Mes Annonces</a>
        </li>

          <li id="lends" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="dropdown-item amir nav-link" [routerLink]="['/lends']" aria-disabled="true">Mes demandes</a>
          </li>


         <hr class="mt-2 mb-3"/>
         <li id="nav-link">
             <a class="dropdown-item amir red" (click)="onLogoutClick()" aria-disabled="true"
                href="#">
                 Déconnexion
             </a>
         </li>

      </ul>
    </li>
    </ul>
  </div>
</nav>

