<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
   <head th:replace="fragments/template :: header">
	  <!-- Custom styles for this template -->
      <link rel="stylesheet" th:href="@{/css/lieux.css}"/>	
   </head>
   <body>
    <div layout:fragment="content">
        <p th:text="${template}">Should not be displayed</p>
        <div id="wrapper">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Display</a>

<!-- Sidebar -->
<div id="sidebar-wrapper" class="bg-primary">
<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            Display Lieux
        </a>
    </li>
    <li><a class="dropdown-item amir" th:href="@{/lieux/page/1}">Table format</a></li>
    <li><a class="dropdown-item amir" th:href="@{/lieux/card/page/1}">Card format</a></li>
    <li><a class="dropdown-item amir" th:href="@{/json/lieux/page/1}">JSON Pagination</a></li>
    <li><a class="dropdown-item amir" th:href="@{/json/lieux}">JSON whiout Pagination</a></li>
</ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->





<div id="page-content-wrapper">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">









      <div layout:fragment="displayContent">
         <p th:text="${template}">Should not be displayed</p>
         <table class="table table-hover table-bordered">
            <thead>
               <tr class="info">
                  <th class="col"><a th:href="@{'/lieux/page/' + ${currentPage} + '?sortField=codeInsee' + '&sortDirection=' + ${reverseSortDirection}}">INSEE</a></th>
                  <th class="col-md-auto"><a th:href="@{'/lieux/page/' + ${currentPage} + '?sortField=codeInsee' + '&sortDirection=' + ${reverseSortDirection}}">Commune</a></th>
                  <th class="col"><a th:href="@{'/lieux/page/' + ${currentPage} + '?sortField=codeInsee' + '&sortDirection=' + ${reverseSortDirection}}">Latitude</a></th>
                  <th class="col"><a th:href="@{'/lieux/page/' + ${currentPage} + '?sortField=codeInsee' + '&sortDirection=' + ${reverseSortDirection}}">Longitude</a></th>
                  <th class="col"><a th:href="@{'/lieux/page/' + ${currentPage} + '?sortField=codeInsee' + '&sortDirection=' + ${reverseSortDirection}}">Departement</a></th>
                  <th class="col-sm-2 text-center" colspan="3">Actions</th>
               </tr>
            </thead>
            <tbody>
               <th:block th:each="lieu : ${lieux}">
                  <tr>
                     <td th:text="${lieu.codeInsee}">INSEE</td>
                     <td th:text="${lieu.nomCom}">Commune</td>
                     <td th:text="${#numbers.formatDecimal(lieu.latitude, 0, 4)}">Latitude</td>
                     <td th:text="${#numbers.formatDecimal(lieu.longitude, 0, 4)}">Longitude</td>                     
                     <td th:text="${lieu.departement?.numDep}">Departement</td>
                     <td th:replace="fragments/template :: remove-update-details-td(entity='lieux', id=${lieu.codeInsee})"></td>
                  </tr>
               </th:block>
            <tbody>
         </table>
      <th:block th:replace="fragments/template :: pagination"></th:block>
         
      </div>

    </div>
</div>
</div>
</div>
<!-- /#page-content-wrapper -->

</div>  <!-- /#wrapper -->






</div>
</div>







      <th:block th:replace="fragments/template :: footer"></th:block>
   </body>
</html>