<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
<head>
    <link rel="stylesheet" th:href="@{/css/monument.css}"/>	
</head>
   <body>
      <div layout:fragment="content">
         <p th:text="${template}">Should not be displayed</p>



   
<!-- Example -->
<!--  	  		  
	<div id="message" th:if="${(param.message != null) and (param.message[0] == 'true')}">
      Input is incorrect
	</div>
 -->   
        
<!--       <a th:href="@{/deleteItem/{listId}/{itemId}(listId=${list.id},itemId=${item.id})}"><span>Delet‌​e</span></a> -->      
            
      
<!--       <h1 th:if="${id}" th:text="@{'IDDDDDDD: ' + ${id}}"> IDDDDDDD</h1>
      <h1 th:text="@{'MODEEEEEE: ' + ${mode}}"> MODEEEEEE</h1>
      <h1 th:text="@{'sampleEntity: ' + ${sampleEntity}}"> sampleEntity</h1>
 -->      
      
      
      
<h1 th:if="${id == 'none'}"> New Lieu</h1>
<h1 th:if="${mode == 'details'}" th:text="@{'Details Lieu with ID: ' + ${id}}"> Details Lieu</h1>
<h1 th:if="${mode == 'update' and id !='none'}" th:text="@{'Update Lieu with ID: ' + ${id}}"> Update Lieu</h1>




<form action="#" th:action="@{'/lieux'}" th:object="${sampleEntity}" method="post">
    <ul th:if="${#fields.hasErrors('*')}">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}" th:class="error">Input is incorrect</li>
    </ul>
 

   <div class="card-group">
           <div class="col-md-12 ">	                
               <div class="card" style="max-width: 60rem;" th:classappend="${border} ? ${border} : 'border-success'">
                  <div class="font-weight-bold" >
                              <img class="photo-lieu card-img-top" th:src="@{'/image/lieu.png'}" alt="Card image cap" style="width:100%; padding:15px;"/>
                              <table aria-rowspan="2">
                                  <tr>
                                      <th class="card-text text-info font-weight-bold">Name:</th>
                                      <td>
                                       <input type="text" th:field="*{nomCom}" id="nomCom" style="width:400px;" th:disabled="${mode == 'details'}"/>
                                       <span th:if="${#fields.hasErrors('nomCom')}" th:errors="*{nomCom}" th:errorclass="error"></span>
                                      </td>
                                  </tr>
                                  <tr>
                                      <th>
                                          <span class="card-text" th:classappend="${text} ? ${text} : 'text-info'">CodeInse: </span>
                                       </th>
                                      <td>
                                           <input type="text" th:field="*{codeInsee}" id="codeInsee" onchange="url(this.value)" style="width:400px;" th:disabled="${mode == 'details'}"/>

                                      </td>
                                  </tr>
                                  <tr class="card-body text-success">
                                      <th>
                                           <h5 class="card-title" th:classappend="${text} ? ${text} : 'text-primary'" style="width:90px;">Departement:</h5>
                                      </th>
                                      <td>
                                         <input type="text" th:value="${sampleEntity.departement}" id="DepartmentObject" style="width:400px;" disabled/>
                                         <input type="text" th:field="${sampleEntity.departement.numDep}" id="chefLieu" style="width:400px;" th:disabled="${mode == 'details'}"/>
                                      </td>
                                  </tr>
                                  <tr class="card-body text-success">
                                      <th>
                                           <h5 class="card-title" th:classappend="${text} ? ${text} : 'text-primary'" style="width:90px;">Latitude:</h5>
                                      </th>
                                      <td>
                                         <input type="text" th:field="*{latitude}" id="chefLieu" style="width:400px;" th:disabled="${mode == 'details'}"/>
                                      </td>
                                  </tr>
                                  <tr class="card-body text-success">
                                      <th>
                                           <h5 class="card-title" th:classappend="${text} ? ${text} : 'text-primary'" style="width:90px;">Longitude:</h5>
                                      </th>
                                      <td>
                                         <input type="text" th:field="*{longitude}" id="chefLieu" style="width:400px;" th:disabled="${mode == 'details'}" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <th>
                                           <p class="card-text" th:classappend="${text} ? ${text} : 'text-danger'">URL: </p>
                                      </th>
                                      <td>
                                           <input type="text" th:value="@{'http://localhost:8080/json/lieux/'+${codeInsee}}" th:field="*{url}" id="url" disabled style="width:400px;"/>                                           
                                      </td> 
                                  </tr>
                                  <tr>
                                      <th>
                                           <span class="card-text">Parent URL: </span>
                                      </th>
                                   <td>
                                           <input type="text" th:value="@{'http://localhost:8080/json/lieux/page/1'}" th:field="*{parent_url}"  id="parent_url" disabled  style="width:400px;" />
                                      </td> 
                                  </tr>
                              
                              </table>
                           
                           
                       

							<div class="btn-toolbar">
					            <button class="btn btn-primary" type="submit" th:if="${mode != 'details'}">Submit</button>
					            <button class="btn btn-danger"  type="reset"  th:if="${mode != 'details'}">Reset </button>
					   		</div>                  
                  
                  

                </div>            
            </div>            
   </div>
</div>
</form>

   
   
   
   
   
   
   
   
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   
   
   
   </div>
   
   
</body>
   
   
   
</html>