<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
   <head th:replace="fragments/template :: header">
	  <!-- Custom styles for this template -->
      <link rel="stylesheet" th:href="@{/css/lieux.css}"/>	
   </head>
   <body>
      <div layout:fragment="content">
         <p th:text="${template}">Should not be displayed</p>

  			<h2 class="text-danger" th:text="${message}"></h2>
      </div>
      <th:block th:replace="fragments/template :: footer"></th:block>
   </body>
</html>