<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="celebrite/all">
<head>
    <link rel="stylesheet" th:href="@{/css/celebrite.css}"/>	
</head>
   <body>
      <div layout:fragment="displayContent">
         <p th:text="${template}">Should not be displayed</p>
         

         <div class="row">
         <div class="card-group">
            <th:block th:each="celebrite : ${celebrities}">
 				<div class="col-md-4 ">	                
 					<div class="card mb-3" style="width: 240px;" th:classappend="${border} ? ${border} : 'border-success'">
	                    <div class="font-weight-bold">
	                    	<strong>
	                    		<span class="card-text text-info font-weight-bold" id="name" th:text="${celebrite.prenom}">Name</span>
                    		</strong>
                            <span class="card-text" th:text="${celebrite.nom}" id="family" th:classappend="${text} ? ${text} : 'text-info'">Family</span>
                        </div>
	                    <img class="photo-celebrite card-img-top center" id="image" th:src="@{${celebrite.image}}" alt="Card image cap">
	                     <div class="card-body text-success">
	                      <h5 class="card-title" id="number" th:text="@{'Numéro: ' + ${celebrite.numCelebrite}}" th:classappend="${text} ? ${text} : 'text-primary'">Number</h5>
	                      <p class="card-text" id="nationality" th:text="@{'Nationalité: ' + ${celebrite.nationalite}}" th:classappend="${text} ? ${text} : 'text-danger'">Nationality</p>
	                      Type: <span class="card-text" id="birth" th:text="${'Epoque: ' + celebrite.epoque}">Birth year</span>
                         </div>

                         <div th:replace="fragments/template :: remove-update-details (entity='celebrities', id=${celebrite.numCelebrite})"></div> 




	                  </div>            
                  </div>            
            </th:block>
         </div>
         </div>




      <div th:replace="fragments/template :: pagination"></div>
         
      </div>
      <div th:replace="fragments/template :: footer"></div>

      <script>

        $(document).ready(function () {
            activateLink('list');
        });
    
        $('.btn-danger').click(function () {
            var itemId=$(this).attr("data-id");
            $.ajax({
                url: '/json/celebrities/'+itemId,
                type: 'DELETE',
                success: function(result) {
                    alert('Celebrity with id '+itemId+' deleted successfully');
                    $(this).parent().parent().delete();
                }
            });
        });
    
        $('.btn-success').click(function () {
            var itemId=$(this).attr("data-id");
            $('#itemId').val(itemId);
        });
    
        $('#update').click(function () {
            var itemId = $('#itemId').val();
            var count = $('#count').val();
            var name = $('#name').val();
            var family = $('#family').val();
            var image = $('#image').val();
            var number = $('#number').val();
            var nationality = $('#nationality').val();
            var birth = $('#birth').val();
            $.ajax({
                url: '/json/celebrities/'+itemId,
                data: {
                    itemId : itemId,
                    count : count
                },
                type: 'PUT',
                success: function(data) {
                    alert('Item with id '+itemId+' updated successfully');
                },
                error : function (data) {
                    alert('Error updating the inventory');
                }
            });
        });
    
    </script>

    <script>
    $('button[type="submit"]').click(function (event) {
        event.preventDefault();

        $.post("/celebrities", {'name': $('#name').val()}, function () {
            iziToast.show({
                title: 'Success',
                message: 'Provided email address is valid',
                position: 'topRight',
                timeout: 500000,
                color: 'green'
            });

        }).fail(function () {
            iziToast.show({
                title: 'Fail',
                message: 'This is not a valid email address',
                position: 'topRight',
                color: 'red'
            });
        });
    });
</script>

<script th:src="@{/js/toast.js}"></script>


   </body>
</html>