<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
<head>
    <link rel="stylesheet" th:href="@{/css/celebrite.css}"/>	
</head>
   <body>
      <div layout:fragment="content">
         <p th:text="${template}">Should not be displayed</p>         
         
         
         

         <div class="card-group">
 				<div class="col-md-12 ">	                
 					<div class="card mb-3" style="max-width: 60rem;" th:classappend="${border} ? ${border} : 'border-success'">
 					
	                    <div class="font-weight-bold" style="padding:0px 15px;">
	                    	<strong>
	                    		<span class="card-text text-info font-weight-bold" id="name" th:text="${celebrite.prenom}">Name</span>
                    		</strong>
                            <span class="card-text" th:text="${celebrite.nom}" id="family" th:classappend="${text} ? ${text} : 'text-info'">Family</span>
                        </div>
	                    <img class="photo-celebrite card-img-top center" id="image" th:src="@{'/image/' +${celebrite.numCelebrite} + '.jpg'}" alt="Card image cap" style="height:600px; padding:15px;">
	                     <div class="card-body text-success">
	                      <h5 class="card-title" id="number" th:text="@{'Numéro Celebrité: ' + ${celebrite.numCelebrite}}" th:classappend="${text} ? ${text} : 'text-primary'">Number</h5>
	                      <p class="card-text" id="nationality" th:text="@{'Nationalité: ' + ${celebrite.nationalite}}" th:classappend="${text} ? ${text} : 'text-danger'">Nationality</p>
	                     <p class="card-text" id="birth" th:text="${'Epoque: ' + celebrite.epoque}">Birth year</p>
	                      <p class="card-text" id="url"><a th:text="@{'URL: ' + ${celebrite.url}}" th:classappend="${text} ? ${text} : 'text-danger'" th:href="${celebrite.url}"></a></p>	                      	                      
	                      <p class="card-text" id="parent_url"><a th:text="@{'Parent URL: ' + ${celebrite.parent_url}}" th:classappend="${text} ? ${text} : 'text-danger'" th:href="${celebrite.parent_url}"></a></p>	                      
	                      
                         </div>

                         <div th:replace="fragments/template :: remove-update (entity='celebrities', id=${celebrite.numCelebrite})"></div> 




	                  </div>            
                  </div>            
         </div>
</div>
</body>
</html>